datastream-common/src/main/idl/
datastream-common/src/main/snapshot/
datastream-common/src/mainGeneratedDataTemplate/
datastream-common/src/mainGeneratedRest/
datastream-server/src/mainGeneratedRest/
gradlew.bat
build/
*classes
.gradle/
*.iml
*.ipr
*.iws
datastream.ipr
datastream.iws
out/
