<?xml version="1.0" encoding="UTF-8" ?>
<!--

     Copyright 2019 LinkedIn Corporation. All rights reserved.
     Licensed under the BSD 2-Clause License. See the LICENSE file in the project root for license information.
     See the NOTICE file in the project root for additional information regarding copyright ownership.

-->
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.linkedin.datastream.server" level="INFO" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
